$primary: #165AA7;
$secondary: #f36519;
$grey: #f2f2f2;
$white: #FFF;
$black: #1a1a1a;

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "components/results";
@import "components/helpers";
@import "components/pager";
@import "components/buttons";


body{
  background-color: $grey;
  font-size: 12px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  max-width: 70rem;;
  margin: auto;
  .columns{
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1 1 0px;
  }
}

header{
  padding: 1rem;
  background-color: $white;
  .logo{
    text-align: center;
  }
}

footer{
  margin-top: 3rem;
  padding: 1rem;
  padding-bottom: .5rem;
  background-color: $black;
  color: #FFF;
  text-align: center;
  .logo{
    text-align: left;
  }
}

.main{
  width: 65%;
  margin: auto;
}

.title-results{
  font-weight: bold;
  margin: 1rem 0;
}
