$primary: #165AA7;
$secondary: #f36519;
$grey: #f2f2f2;
$text-grey: #696969;
$white: #FFF;
$black: #1a1a1a;
$body-text: #363D41;
$border-color: #e6e6e6;

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "components/results";
@import "components/helpers";
@import "components/pager";
@import "components/buttons";
@import "components/slider";

html{
  font-size: 75%;
}
body{
  background-color: $grey;
  color: $body-text;
  font-size: 12px;
}
h2{
  font-size: 20px;
}
a,
button{ cursor: pointer; }

.container{
  display: flex;
  flex-flow: row wrap;
  max-width: 90rem;;
  margin: auto;
  .columns{
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1 1 0px;
  }
}

header{
  padding: 1rem;
  background-color: $white;
  border-bottom: 2px solid $border-color;
  .logo{
    text-align: center;
    display: block;
  }
}

footer{
  margin-top: 3rem;
  padding: 1rem;
  padding-bottom: .5rem;
  background-color: $black;
  color: #FFF;
  text-align: center;
  .logo{
    text-align: left;
  }
}
.flex{
  display: flex;
  .flex-2{
    width: 50%;
  }
}
.row{
  width: 90%;
  margin: auto;
}
.main{
  width: 65%;
  margin: auto;
}

.results-title{
  font-weight: bold;
  margin: 2rem 0;
}
.page-title{
  margin-top: 5rem;
}
.price{
    color: $secondary;
}

.location{
  color: $text-grey;
  .fa{
    margin-right: 3px;
  }
}

.details{
  background-color: $white;
  width: 35%;
  padding: 1rem;
  margin-left: 1rem;
  .location{
    margin-bottom: 4rem;
  }
}

.thumbnail{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    img{
        display: none;
    }                
}
