<div class="pager">
    <ul class="list-pager">
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="" class="active">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">...</a></li>
        <li><a href="">12</a></li>
        <li><a href="">13</a></li>
    </ul>
    <button class="button"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous page</button>
    <button class="button primary pull-right">Next page <i class="fa fa-angle-right" aria-hidden="true"></i></button>
</div>
