.button{
    padding: .5rem 1rem;
    background-color: $white;
    border: 1px solid #000;
    color: $body-text;
}

.button.primary{
    background-color: $primary;
    border-color: $primary;
    color: $white;
}


.button[disabled]{
    background-color: $grey;
    border-color: darken($grey, 10%);
    color: $text-grey;
    cursor: not-allowed;
}