ul.list-results{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 1rem;
    a{
        text-decoration: none;
        color: #000;
    }
}

.result-item{
    @extend .bordered;
    @extend .flex;
    background-color: $white;
    padding: 1rem;
    margin-bottom: 1rem;
    .thumbnail {
        min-width: 160px;
        height: 160px;
        img{
            width: 100%;
            display: none;
        }
    }
    .item-content {
        @extend .flex;
        flex-grow: 1;
        .info{
            width: 80%;
            padding: 0 1rem;
        }
    }

}  
