<div class="row">
    <div class="columns">
        <h2 class="page-title">{{model.name}}</h2>
        <div class="flex">
            <div class="slider-container bordered">
                <div class="slider">
                    <div class="slider-theater">
                        <img ng-src={{model.main_picture}} alt="">
                    </div>
                    <div class="slider-navigation">
                        <button class="slider-arrows">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                        <ul class="slider-list-navigation">
                            <li><a class="thumbnail" ng-style="{'background-image': 'url('+ thumbnail +')'}"><img src={{thumbnail}} alt=""></a></li>
                            <li><a class="thumbnail" ng-style="{'background-image': 'url('+ thumbnail +')'}"><img src={{thumbnail}} alt=""></a></li>
                            <li><a class="thumbnail" ng-style="{'background-image': 'url('+ thumbnail +')'}"><img src={{thumbnail}} alt=""></a></li>
                            <li><a class="thumbnail" ng-style="{'background-image': 'url('+ thumbnail +')'}"><img src={{thumbnail}} alt=""></a></li>
                            <li><a class="thumbnail" ng-style="{'background-image': 'url('+ thumbnail +')'}"><img src={{thumbnail}} alt=""></a></li>
                            <li><a class="thumbnail" ng-style="{'background-image': 'url('+ thumbnail +')'}"><img src={{thumbnail}} alt=""></a></li>
                        </ul>
                        <button class="slider-arrows pull-right">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="details bordered">
                <div class="columns">
                    <div class="price">
                        <h2>{{model.price}}</h2>
                    </div>
                    <p class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{model.location}}
                    </p>
                    <p>{{model.description}}</p>
                    
                </div>
            </div>


        </div>            
    </div>
</div>