<div class="row">
    <div class="columns">
        <h2 class="page-title">Hyunda Getz sedan 2009</h2>
        <div class="flex">
            <div class="slider-container bordered">
                <div class="slider">
                    <div class="slider-theater">
                        <img src="http://placehold.it/910x606" alt="">
                    </div>
                    <div class="slider-navigation">
                        <button class="slider-arrows">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                        <ul class="slider-list-navigation">
                            <li><a href=""><img src="http://placehold.it/385x286" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/385x286" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/385x286" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/385x286" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/385x286" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/385x286" alt=""></a></li>
                        </ul>
                        <button class="slider-arrows pull-right">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="details bordered">
                <div class="columns">
                    <div class="price">
                        <h2>880,000.000</h2>
                    </div>
                    <p class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Location, very long location
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, illum nostrum corporis repudiandae modi voluptates consequatur iure rem dolore, ipsam molestiae quisquam cupiditate tenetur veniam consequuntur impedit eaque architecto eum.</p>
                    
                </div>
            </div>


        </div>            
    </div>
</div>