<div class="main">
    <div class="columns">
        <div class="title-results">Displaying 1-9 of 345 Results</div>
        <ul class="list-results">
            <li>
                <a href="#/details"><result-item></result-item></a>
            </li>
            <li>
                <a href="#/details"><result-item></result-item></a>
            </li>
            <li>
                <a href="#/details"><result-item></result-item></a>
            </li>
            <li>
                <a href="#/details"><result-item></result-item></a>
            </li>
            <li>
                <a href="#/details"><result-item></result-item></a>
            </li>
            <li>
                <a href="#/details"><result-item></result-item></a>
            </li>
        </ul>
        <pager></pager>
    </div>    
</div>

